h1 {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#bagel-house-cafe {
  background-color: #232323;
  padding: 20px;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}
#bagel-house-cafe h1 {
  font-size: 3.5vw;
}

.project-case-landing-page {
  background-color: #0c0b0b49;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  margin-top: -6.1rem;
}

.pc-lp-img-container,
.pc-lp-title-container {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.pc-lp-title-container {
  flex-direction: column;
}
.pc-lp-title-container p {
  text-align: center;
  width: 65%;
}

.pc-lp-img-container img {
  border-radius: 10px;
  width: 65%;
  height: auto;
  object-fit: contain;
}
.pc-lp-img1 {
  z-index: 100;
  transform: rotate(10deg);
  margin-right: 20%;
}
.pc-lp-img2 {
  z-index: 99;
  transform: rotate(-10deg);
  margin-right: -20%;
}
.pc-lp-img-container:hover .pc-lp-img1 {
  animation: shake1 0.5s ease-in-out infinite alternate;
}

.pc-lp-img-container:hover .pc-lp-img2 {
  animation: shake2 0.5s ease-in-out infinite alternate;
}

@keyframes shake1 {
  0% {
    transform: rotate(10deg) translateX(0);
  }
  50% {
    transform: rotate(10deg) translateX(-5px);
  }
  100% {
    transform: rotate(10deg) translateX(5px);
  }
}

@keyframes shake2 {
  0% {
    transform: rotate(-10deg) translateX(0);
  }
  50% {
    transform: rotate(-10deg) translateX(5px);
  }
  100% {
    transform: rotate(-10deg) translateX(-5px);
  }
}
.pc-page-devider {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pc-page-devider p {
  font-size: 1vw;
}
.pc-role-bagel,
.pc-team-bagel,
.pc-duration-bagel,
.pc-tek-lang-bagel,
.pc-tools-bagel {
  padding: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(44, 44, 44);
  background: linear-gradient(
    188deg,
    rgba(35, 35, 35, 0.493) 0%,
    rgba(12, 11, 11, 0.502) 71%
  );

  /* border: 2px solid #232323; */
  font-size: 1.5vw;
}
.pc-tools {
  display: flex;
  flex-direction: column;
}
.logos-container {
  display: flex;
  gap: 1vw;
}
.tech-logo {
  background-color: #63636349;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 5px;
}

.tech-logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.pc-mid-container,
.pc-mid-img-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.pc-mid-container-bagel {
  background-color: #dd7973;
}

.pc-mid-img-container img {
  border-radius: 10px;
  width: 40%;
  height: auto;
  object-fit: contain;
}

.pc-mid-section-img1,
.pc-mid-section-img2 {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.pc-mid-section-img1 {
  margin-top: 30vh;
  z-index: 98;
  margin-right: -5%;
  filter: drop-shadow(30px 10px 4px #00000093);
}
.pc-mid-section-img2 {
  margin-top: 40vh;
  z-index: 97;
}

.pc-lower-container {
  background-color: #0c0b0b49;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.number-block {
  width: 75%;
  padding: 2rem 0;
}
.number-block h3 {
  font-size: 3vw;
}

.design-flow-bagel {
  background: rgb(44, 44, 44);
  background: linear-gradient(
    180deg,
    rgb(221, 121, 115) 0%,
    rgba(12, 11, 11, 0.502) 100%
  );
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 2rem;
  padding: 2rem;
}
.component-img-container,
.full-lenght-img-container {
  filter: drop-shadow(5px 5px 3px #00000093);
  display: flex;
  height: 100%;
  width: 40%;
  overflow: hidden;
  align-items: center;
  gap: 2rem;
}
.full-lenght-img-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.full-lenght-img-container img {
  height: 100%;
  width: auto;
}
.component-img-container {
  flex-direction: column;
}
.head-foot-img-container-bagel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  gap: 1rem;
}
.head-foot-img-container-bagel img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}
.buttons-img-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 50%;
  width: 100%;
  gap: 1rem;
}
.buttons-img-container img {
  height: 25% !important;
  width: 25% !important;
  object-fit: contain;
}
.component-img-container {
  width: 50%;
}
.component-img-container img {
  height: 100%;
  width: 100%;
}

@media (max-width: 2560px) and (min-width: 2000px) {
  #bagel-house-cafe p {
    font-size: 1vw;
  }
  .tech-logo {
    width: 75px !important;
    height: 75px !important;
  }
}

@media (max-width: 1024px) {
  #bagel-house-cafe p {
    font-size: 1vw;
  }
}

@media (max-width: 768px) {
  #bagel-house-cafe .project-case-landing-page {
    flex-direction: column;
    height: 85vh;
  }
  #bagel-house-cafe .pc-lp-title-container {
    margin-bottom: -10%;
    width: 100%;
  }
  #bagel-house-cafe h1 {
    font-size: 5vw;
  }
  #bagel-house-cafe p {
    font-size: 1.4vw;
  }
  #bagel-house-cafe .tech-logo {
    width: 40px;
    height: 40px;
  }
  #bagel-house-cafe .pc-mid-img-container img {
    width: 50%;
  }

  #bagel-house-cafe .full-lenght-img-container img {
    height: 70%;
  }

  #bagel-house-cafe .head-foot-img-container-bagel {
    height: 30vh;
  }

  #bagel-house-cafe .buttons-img-container {
    height: 40%;
  }
}

@media (max-width: 426px) {
  #bagel-house-cafe .project-case-landing-page {
    flex-direction: column;
    height: 80vh;
  }
  #bagel-house-cafe .pc-lp-title-container {
    margin-bottom: -15%;
  }
  #bagel-house-cafe .pc-lp-title-container h1 {
    font-size: 6vw;
  }
  #bagel-house-cafe .pc-lp-img-container {
    width: 80%;
  }
  #bagel-house-cafe .pc-lp-img2 {
    margin-right: -35%;
  }
  #bagel-house-cafe .pc-lp-img1 {
    margin-right: 0%;
  }
  #bagel-house-cafe p {
    font-size: 3vw;
  }
  #bagel-house-cafe .tech-logo {
    width: 35px;
    height: 35px;
  }
  #bagel-house-cafe .pc-page-devider {
    flex-wrap: wrap;
    height: auto;
  }
  #bagel-house-cafe .pc-role-bagel,
  .pc-team-bagel,
  .pc-duration-bagel,
  .pc-tek-lang-bagel,
  .pc-tools-bagel {
    width: 50%;
    height: 20vh;
  }
  #bagel-house-cafe h3 {
    font-size: 4vw;
  }

  #bagel-house-cafe .pc-mid-img-container img {
    height: 100%;
    border-radius: 10px;
  }


  #bagel-house-cafe .pc-mid-img-container {
    height: 65vh;
  }

  #bagel-house-cafe .full-lenght-img-container {
    width: 100%;
  }
  #bagel-house-cafe .full-lenght-img-container img {
    height: 90%;
    width: 100%;
  }
}

@media (max-width: 376px) {
  #bagel-house-cafe .pc-lp-title-container {
    margin-bottom: -25%;
  }
  #bagel-house-cafe .pc-lp-title-container h1 {
    font-size: 7vw;
  }
  #bagel-house-cafe p {
    font-size: 3.5vw;
  }

  #bagel-house-cafe h3 {
    font-size: 5vw;
  }
  #bagel-house-cafe .full-lenght-img-container img {
    height: 80%;
  }
}
@media (max-width: 321px) {
  #bagel-house-cafe .pc-lp-title-container {
    margin-bottom: -35%;
  }
  #bagel-house-cafe .pc-lp-img-container {
    width: 90%;
  }
  #bagel-house-cafe .pc-mid-img-container {
    height: 55vh;
  }

  #bagel-house-cafe .pc-lp-title-container h1 {
    font-size: 8vw;
  }
  #bagel-house-cafe .full-lenght-img-container img {
    height: 60%;
  }
}
