#root {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* //LANDING PAGE// */
#landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(18, 51, 66, 1) 0%,
    rgba(22, 64, 83, 1) 26%,
    rgba(10, 23, 30, 1) 100%
  );
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.header {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: end;
  padding: 20px 35px;
  z-index: 98;
}
.header button {
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.header button:hover {
  cursor: pointer;
}
.head-btn1,
.head-btn2 {
  padding: 0 20px;
}

.landing-page-pic {
  max-width: 1350px;
  overflow: hidden;
  align-items: center;
  z-index: 99;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-page-pic img {
  max-width: 100%;
  height: auto;
  display: block;
}

.title-container {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.page-title {
  align-self: center;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 340px;
  z-index: 1;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mini-title1,
.mini-title2 {
  align-self: center;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 85px;
  z-index: 1;
  position: absolute;
}
.mini-title1 {
  top: 19%;
  left: 44%;
  transform: translate(-50%, -50%);
}
.mini-title2 {
  top: 48%;
  left: 50%;
  transform: translate(76%, -10%);
}

.job-title {
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  align-self: center;
  z-index: 100;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* //PROJECTS// */
#projects-page {
  width: 100%;
}

.project-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.project-title h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem 2rem;
  font-size: 90px;
  margin: 0;
}

.project-wrapper {
  width: 100%;
  height: 85svh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 2rem;
  padding: 0 2rem;
}

.project-wrapper::-webkit-scrollbar {
  display: none;
}

#project-section1,
#project-section2 {
  width: 50%;
  min-height: 100svh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.small-project-card {
  height: 40svh;
  box-sizing: border-box;
}

.medium-project-card {
  height: 60svh;
  box-sizing: border-box;
}

.medium-project-card,
.small-project-card,
.description-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.description-container p {
  font-family: "Akshar", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
}

.small-img-container,
.medium-img-container {
  width: 100%;
  height: 90%;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
}

.small-img-container img {
  max-width: 100%;
  height: auto;
}
.medium-img-container img {
  width: fill-content;
}

.description-container {
  align-items: flex-start;
  justify-content: center;
  min-height: 10%;
  box-sizing: border-box;
  gap: 5px;
  background-color: rgb(20, 20, 20);
  padding: 0.5rem;
}

/* //RESUME// */
#resume-page {
  width: 100%;
  height: auto;
  padding: 0 2rem;
  background-color: #03131b;
}

.resume-top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.resume-title{
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.resume-title h2, .resume-aside-title2 h2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16vw;
  line-height: 1;
  letter-spacing: 5px;
  text-align: start;
}

.work-container {
  width: 50%;
  padding: 2rem 0;
}

.mini-work-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.mini-work-title h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.experience-container p,
.skills-container p,
.cv-container p{
  font-family: "Akshar", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 21px;
  letter-spacing: 2px;
}
.experience-container,
.soft-skills {
  display: flex;
  gap: 20px;
}

.work_title p,
.work_date p,
.work_company p {
  margin: 0.2rem;
}
.work_date p,
.SS-number p {
  font-weight: 500;
}

.resume-bottom-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.skills-wrp-container {
  display: flex;
  padding-top: 2rem;
}
.skills-container{
  border: dashed 2px red;
}
.cv-container,
.resume-aside-title2 {
  min-width: 25%;
  padding-right: 2rem;
}
.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.cv-card{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cv-text-and-icon-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #191919;
  padding: 0.5rem;
}
.cv-text p{
  font-size: 17px;
}
.cv-img-container {
  width: 100%;
  height: 400px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  position: relative;
}

.cv-img-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  box-sizing: border-box;
}

.skills-container,
.skills-wrp1 {
  min-width: 50%;
  gap: 2rem;
}
.skills-wrp2,
.skills-wrp3 {
  width: 50%;
}
.language-interest-container {
  display: flex;
}
.SS-number {
  margin-right: 1rem;
}
.SS-title {
  margin-right: 6rem;
}
.SS-title2 {
  margin-left: -5rem;
}

.resume-aside-title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}
.resume-aside-title2 h2 {
  transform: rotate(-90deg);
  font-size: 8.5vw;
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #031A24;
}