@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;

  /*Buttons*/
  .primary-btn {
    @apply min-w-28 max-h-11 rounded-md border-2 border-solid border-[#AEE1FE] bg-transparent hover:bg-[#AEE1FE] p-2 text-base font-semibold text-[#AEE1FE] hover:text-[#164053];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

#burger-menu {
  display: none;
}

/* //PROJECTS// */
#projects-page {
  width: 100%;
  min-height: 100vh;
}

.project-title h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.project-wrapper {
  width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 2rem;
  padding: 0 2rem;
}

.project-wrapper::-webkit-scrollbar {
  display: none;
}

#project-section1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.small-project-card,
.project-card {
  width: 31%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.description-container p {
  font-family: "Akshar", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
}

.img-container {
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-height: 340px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-container {
  align-items: flex-start;
  justify-content: center;
  min-height: 10%;
  box-sizing: border-box;
  gap: 5px;
  background-color: rgb(20, 20, 20);
  padding: 0.5rem;
}

/* //RESUME// */
#resume-page {
  width: 100%;
  min-height: 100vh;
  padding: 0 2rem;
  background-color: #03131b;
}

.resume-top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.resume-title {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem 0;
}

.resume-title h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  line-height: 1;
  letter-spacing: 5px;
  text-align: start;
}

.work-container {
  width: 50%;
}

.mini-work-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.mini-work-title h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.experience-container p,
.skills-container p,
.cv-container p {
  font-family: "Akshar", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5vw;
  letter-spacing: 2px;
}
.experience-container,
.soft-skills,
.soft-skills-section2 {
  display: flex;
  gap: 20px;
}

.soft-skills-section2 {
  margin-top: 3rem;
}

.work_title p,
.work_date p,
.work_company p {
  margin: 0.2rem;
}
.btm-border {
  border-bottom: 1px solid white;
}
.work_date p,
.SS-number p {
  font-weight: 500;
}

.resume-bottom-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
.skills-wrp-container {
  display: flex;
  padding-top: 2rem;
}
.first-skills-wrp-container {
  display: flex;
}
.skills-container {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  justify-content: space-evenly;
}
.cv-container {
  width: 50%;
}
.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.cv-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cv-text-and-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #191919; */
  padding: 0.5rem;
}
.cv-text p {
  font-weight: 300;
  font-size: 2vw;
}
.cv-img-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.cv-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.skills-wrp2,
.skills-wrp3 {
  padding-top: 1rem;
  width: 50%;
}
.language-interest-container {
  display: flex;
}
.SS-title {
  margin-right: 6rem;
}
.SS-title2 {
  margin-left: -5rem;
}

/* // CONTACT PAGE // */
#contact-page {
  width: 100%;
  min-height: 100dvh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
}

.email-container a,
.LinkedIn-container a,
.discord-container a,
.back-to-top a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-family: "Akshar", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 32px;
  position: relative;
  z-index: 2;
}
.email-container a,
.LinkedIn-container a,
.discord-container a {
  margin-bottom: -80%;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .arrow svg {
  width: 0.7em;
  height: 0.7em;
} */
.contact-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  position: relative;
  z-index: 0;
}
.btm-conatct-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.copy-right p {
  font-family: "Akshar", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
}

@media (max-width: 2560px) {
  #landing-page {
    max-width: 2560px;
  }
  .page-title {
    font-size: 25vw;
  }
  .mini-title1 {
    top: 15%;
    font-size: 7vw;
  }
  .mini-title2 {
    top: 52%;
    font-size: 7vw;
    left: 45%;
  }

}
@media (max-width: 1440px) {
  #landing-page {
    max-width: 1440px;
  }
  .page-title {
    font-size: 23vw;
    top: 35%;
  }

  .mini-title1 {
    top: 19%;
  }
  .mini-title2 {
    top: 52%;
  }
}
@media (max-width:1366px) {
  #landing-page {
    height: auto;
    max-width: 1024px;
  }

  .landing-page-pic {
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
  .title .mini-title {
    font-size: 3rem;
    margin-top: 10%;     
  }
  .job-title-lp{
    margin-top: auto;
    height: auto;
  }
  .project-title h2 {
    font-size: 7vw;
  }

  .small-project-card,
  .medium-project-card {
    width: 100%;
  }

  .small-project-card img,
  .medium-project-card img {
    width: 100%;
    height: auto;
  }

  .small-img-container,
  .medium-img-container {
    width: 100%;
    height: auto;
  }

  .small-img-container img {
    max-width: 100%;
    height: auto;
  }
  #resume-page {
    max-width: 1024px;
  }
  .work-container {
    width: 100%;
  }
  .work_date {
    width: 22%;
  }
  .work_title {
    width: 50%;
  }
  .work_title p,
  .work_date p,
  .work_company p {
    font-size: 1.5vw;
  }
  .cv-container {
    width: 100%;
    padding: 2rem 0;
  }
  .cv-text-and-icon-container {
    padding: 0;
  }
  .resume-bottom-wrapper {
    justify-content: space-between;
  }

  .cv-card {
    width: 100%;
  }

  .cv-img-container {
    width: 100%;
    height: auto;
  }
  .cv-img-container img {
    width: 100%;
    height: auto;
  }
  .contact-page {
    max-width: 1024px;
  }
  .contact-wrapper {
    margin-top: 0%;
    width: 100%;
  }

  .contact-links-container {
    padding: 2rem;
    width: 100%;
  }

  .email-container p,
  .LinkedIn-container p,
  .discord-container p,
  .back-to-top p {
    font-size: 2.5vw;
  }

  .email-container a,
  .LinkedIn-container a,
  .discord-container a {
    margin-bottom: 0%;
  }

  .contact-title {
    font-size: 17vw;
  }

  .contact-title h2 {
    letter-spacing: normal;
  }

  .copy-right p {
    font-family: "Akshar", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header{
    justify-content: space-between;
  }
  .left-side-space{
    width: 3%;
  }
  #landing-page {
    max-width: 768px;
    height: 100svh;
    overflow: hidden;
  }

  .landing-page-pic {
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
  .landing-page-pic img {
    height: 100%;
  }
  .title .mini-title {
    font-size: 3rem;
    margin-top: 20%;     
  }

  .job-title-lp{
    margin-top: 20%;
  }
  .left-txt-animation, .right-txt-animation{
    font-size: 5rem;
  }
  .page-title {
    font-size: 27vw;
    top: 28%;
  }
  .project-wrapper {
    flex-direction: column;
    align-items: center;
  }
  #project-section1 {
    width: 100%;
    max-height: 100svh;
    gap: 0;
  }
  .job-title-lp {
    font-size: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10%;
  }
  .project-title h2 {
    font-size: 8vw;
  }
  .small-project-card,
  .medium-project-card {
    width: 100%;
    height: auto;
  }

  .small-project-card img,
  .medium-project-card img {
    width: 100vw;
    height: auto;
  }
  .work-container {
    width: 100%;
  }

  .experience-container p,
  .skills-container p {
    font-size: 3vw;
    letter-spacing: 0px;
  }
  .cv-container p {
    font-size: 3vw;
  }
  .resume-bottom-wrapper {
    min-height: 100svh;
  }

  .skills-wrp-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
  }
  .mini-work-title h3 {
    font-size: 25px;
  }
  .first-skills-wrp-container {
    display: flex;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: space-evenly;
  }
  .soft-skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 40%;
  }
  .cv-container {
    margin-top: 5%;
    width: 50%;
    padding: 2rem;
  }

  .contact-links-container {
    padding: 2rem;
    width: 100%;
  }

  .email-container p,
  .LinkedIn-container p,
  .discord-container p,
  .back-to-top p {
    font-size: 4vw;
  }
  .email-container a,
  .LinkedIn-container a,
  .discord-container a {
    margin-bottom: 0%;
  }
  .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .contact-title {
    font-size: 20vw;
    letter-spacing: 0;
  }
  .btm-conatct-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-top: 20px;
  }
  .copy-right p {
    font-size: 13px;
  }
  .arrow svg {
    width: 0.7em;
    height: 0.7em;
  }
  .cv-container {
    width: 100%;
    max-height: 550px;
    padding: 1rem 0;
  }

  .cv-card {
    width: 100%;
    height: 100%;
  }
  .cv-img-container {
    width: 100%;
    height: 250px;
  }

  .cv-img-container img {
    width: 100%;
    height: 100%;
  }
  .head-menu-items {
    display: none;
  }
  .head-menu-items.is-open {
    display: block;
  }
  #burger-menu {
    display: block;
  }
  .contact-title h2 {
    font-size: 20vw;
  }
}
@media (max-width: 426px) {
  #landing-page {
    height: 100vh;
    max-width: 426px;
  }
  .landing-page-pic {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }
  .landing-page-pic img {
    height: 70%;
  }
  .title .mini-title {
    font-size: 2.5rem;
    margin-top: 60%;     
  }

  .project-wrapper {
    flex-direction: column;
    align-items: center;
  }
  #project-section1 {
    width: 100%;
    max-height: 100svh;
  }
  .project-card{
    width: 100%;
    height: auto;
  }
  .job-title-lp{
    margin-top: 20%;
  }
  .left-txt-animation, .right-txt-animation{
    font-size: 5rem;
  }
  .btn-container {
    gap: 1rem;
  }

  /* .experience-container p {
    font-size: 1.5vw;
  } */
  .work-container {
    width: 100%;
  }
  .work_title {
    width: 45%;
  }
  .job-title-lp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    font-size: 2.5rem;
  }
  .cv-text-and-icon-container {
    padding: 0;
  }
  .arrow svg {
    width: 0.5em;
    height: 0.5em;
  }
  .contact-title {
    font-size: 17vw;
  }
 
  .resume-title h2 {
    font-size: 10vw;
    letter-spacing: 0px;
  }
  .experience-container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
