#back-to-projects-container {
  width: auto;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 1rem; 
}

#back-to-projects-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0.5rem 1rem; /* Optional: adjust button styling */
  border: none; /* Optional: remove default border */
  cursor: pointer; /* Optional: make it look clickable */
}
#back-to-projects-btn a {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  color: whitesmoke;
  font-size: 1.5rem;
}
@media (max-width: 426px) {
  #back-to-projects-btn {
    gap: 0.5rem;
    padding: 0; /* Optional: adjust button styling */
  }
  #back-to-projects-btn svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  #back-to-projects-btn a {
    font-size: 1rem;
  }
}
